@import 'global.css';

.election {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 44px;
}

.election h2 {
    font-size: var(--font-24-big);
    max-width: 80%;
    font-weight: bold;
    letter-spacing: 0.4px;
    color: var(--black-page);
    text-transform: uppercase;
    margin-bottom: 28px;
}

.election h2 strong {
    font-family: 'Zilla Slab', serif;
    font-size: var(--font-3-big);
    text-transform: none;
    font-weight: 600;
    color: var(--yelow-detales);
}

.election_flex {
    width: 80%;
    max-width: 900px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 28px;
}

.election_text {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.election_text p{
    font-size: var(--font-14-medium);
    color: var(--black-page);
    letter-spacing: 0.2px;
    font-weight: 600; 
}

.election_text ul li {
    list-style: none;
    display: flex;
    gap: 8px;
    font-size:  var(--font-16-medium);
    margin-bottom: 8px;
}
.election_text ul li span {
    display: block;
    min-width: 16px;
    height: 16px;
    background-image: url(../icons/check-yellow.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.election_image {
    width: 100%;
    max-width: 600px;
    height: auto;
    display: flex;
}
.election_image  img {
    width: 100%;
    height: auto;
    display: flex;
    object-fit: cover;
    object-position: center

}

@media screen and (min-width: 700px) and (min-height: 510px) {
    .election h2 {
        font-size: var(--font-28-big);
        letter-spacing: 0.8px;
        margin-bottom: 40px;
    }

    .election h2 strong {
        font-size: var(--font-34-big);
    }

    .election_text {
        gap: 28px;
    }
    .election_text p {
        font-size: var(--font-18-medium);
    }

    .election_text ul li {
        font-size: var(--font-2-medium);
        gap: 12px;
        margin-bottom: 12px;
    }
    .election_text ul li span {
        min-width: 20px;
        height: 20px;
    }
}