@import 'global.css';

.header_content {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white-page);
}
.header_content img {
    width: 140px;
    height: 40px;
    object-fit: cover;
}

.menu {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 15px;
    right: 30px;
    overflow: visible;
}
.menu span {
    display: block;
    width: 100%;
    height: 3px;
    background: var(--black-page);
    margin-top: 6px;
    transition: 600ms
}
.activeline1__bars-menu {
    transform: rotate(45deg) translate(6px, 6px) scale(0.9, 1.1);
    
}
.activeline2__bars-menu{
    opacity: 0;
    height: 1px;
    margin-left: -60px;
}
.activeline3__bars-menu {
    transform: rotate(-45deg) translate(6px, -6px) scale(0.9, 1.1);
}

.responsive_display {
    width: 100vw;
    height: calc(100vh - 60px);
    display: block;
    position: fixed;
    top: 60px;
    right: 0;
    opacity: 0.4;
    clip-path: inset(0 0 100% 0);
    transition: all 0.3s ease-in-out;
    background-color: #635f4f87;
    z-index: 10;
    
}
.active_nav {
    opacity: 1;
    clip-path: inset(0 0 0 0%);
    transition: clip-path 0.6s ease-in-out;  
}

.responsive_display ul {
    width: 100%;
    height: auto;
    padding: 20px 16px;
    background-color: var(--white-page); 
    box-shadow: 0px 4px 12px 2px #999595c9;
}
.responsive_display ul li {
    height: auto;
    padding: 8px 12px;
    list-style: none;
    margin-top: 8px;
}
.responsive_display ul li a {
    font-family: 'Zilla Slab', serif;
    font-size: var(--font-18-medium);
    letter-spacing: 0.6px;
    color: var(--black-page);
    text-decoration: none;
    font-weight: 600;
}

.responsive_display ul .content_social {
    margin-top: 36px;
    display: flex;
    gap: 32px;
}

.responsive_display ul .content_social a {
    width: 36px;
    height: 36px;
}

.responsive_display ul .content_social a span {
    width: 100%;
    height: 100%;
    display: block;
    background-position: center;
    background-size: cover; 
}
.insta {
    background-image: url(../icons/instagram-yellow-black.svg);
}
.face {
    background-image: url(../icons/facebook-yellow-black.svg);
}
.google {
    background-image: url(../icons/google-yellow-black.svg);
}

@media screen and (min-width: 700px) and (min-height: 510px) {
    .header_content {
        height: 80px;
    }

    .menu {
        top: 25px;
        right: 40px;
    }

    .activeline1__bars-menu {
        transform: rotate(45deg) translate(7px, 6px) scale(0.9, 1.1);
        
    }

    .activeline3__bars-menu {
        transform: rotate(-45deg) translate(7px, -6px) scale(0.9, 1.1);
    }
    .responsive_display ul {
        padding: 28px 36px;
    }

    .responsive_display ul li a {
        font-size: var(--font-2-medium);
    }
}

@media screen and (min-width: 1200px) {
    .header_content {
        height: 80px;
        padding: 0 40px;
    }
    .menu {
        display: none;
    }
    .responsive_display {
        width: auto;
        height: 100%;
        display: block;
        position: relative;
        top: 0;
        right: 0;
        opacity:1;
        clip-path: inset(0 0 0 0);
        transition: all 0.3s ease-in-out;
        background-color: var(--white-page);
        z-index: 10;
    }

    .responsive_display ul {
        width: auto;
        height: 100%;
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .responsive_display ul li {
        height: auto;
        padding: 8px 12px;
        margin-top: 0px;
    }
    .responsive_display ul li:hover {
        margin-bottom: 4px;
        background-color: var(--yelow-detales);
        transition: all 0.2s linear;
    }
    .responsive_display ul .content_social {
        margin-top: 0px;
        display: flex;
        gap: 16px;
    }
    .responsive_display ul .content_social:hover {
        margin-bottom: 0px;
        background-color: transparent;
    }
    .responsive_display ul li a {
        font-family: 'Zilla Slab', serif;
        font-size: var(--font-18-medium);
        
    }
    .responsive_display ul .content_social a {
        width: 32px;
        height: 32px;
    }
    .responsive_display ul .content_social a:hover {
        background-color: var(--yelow-detales);
        transition: all 0.2s linear;
    }
}

@media screen and (min-width: 1600px) {
    .header_content img {
        width: 160px;
        height: 52px;
        object-fit: cover;
    }
    .responsive_display ul li a {
        font-size: var(--font-2-medium);
    }
}

@media screen and (min-width: 1900px) {

    .header_content {
        height: 80px;
        padding: 0 50px;
    }
    .responsive_display ul li {
        padding: 8px 16px;
    }
    .responsive_display ul li a {
        font-size: var(--font-2-medium);
        letter-spacing: 0.8px;
    }
    .responsive_display ul .content_social {
        gap: 20px;
        padding: 8px 20px
    }
    .responsive_display ul .content_social a {
        width: 36px;
        height: 36px;
    }
}